<div class="product-details-area fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="zoomWrapper clearfix">
                    <div class="product-thumb">
                        <ul class="p-details-slider" id="gallery_01">
                            <li>
                                <a class="elevatezoom-gallery" href="#" data-image="img/product-details/1.jpg"
                                    data-zoom-image="img/product-details/1.jpg"><img
                                        src="assets/img/product-details/1.jpg" alt=""></a>
                            </li>
                            <li>
                                <a class="elevatezoom-gallery" href="#" data-image="img/product-details/2.jpg"
                                    data-zoom-image="img/product-details/2.jpg"><img
                                        src="assets/img/product-details/2.jpg" alt=""></a>
                            </li>
                            <li>
                                <a class="elevatezoom-gallery" href="#" data-image="img/product-details/3.jpg"
                                    data-zoom-image="img/product-details/3.jpg"><img
                                        src="assets/img/product-details/3.jpg" alt=""></a>
                            </li>
                            <li>
                                <a class="elevatezoom-gallery" href="#" data-image="img/product-details/4.jpg"
                                    data-zoom-image="img/product-details/4.jpg"><img
                                        src="assets/img/product-details/4.jpg" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img id="zoom1" src="assets/img/product-details/1.jpg"
                                data-zoom-image="img/product-details/1.jpg" alt="big-1">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="product-detail shop-product-text">
                    <h4><a href="#">Full sleev women T-shirt</a></h4>
                    <div class="price-rating-container">
                        <div class="price-box"><span>$20.99</span> <del>($25.99)</del></div>
                        <div class="rating-right">
                            <div class="star-content">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="availability">AVAILABILITY: <span> In stock</span></div>
                    <h5 class="overview">overview:</h5>
                    <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor indunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="size-categories">
                        <h5 class="size">Size:</h5>
                        <ul>
                            <li><a href="#">S</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">XL</a></li>
                        </ul>
                    </div>
                    <div class="color">
                        <h5 class="color">color:</h5>
                        <div class="color-cat">
                            <select class="category-items " name="category">
                                <option>Select a color</option>
                                <option>red</option>
                                <option>black</option>
                                <option>pink</option>
                                <option>blue</option>
                                <option>green</option>
                            </select>
                        </div>
                    </div>
                    <div class="shop-buttons">
                        <h5 class="quantity">quantity:</h5>
                        <div id="quantity-wanted-p">
                            <input type="number" value="0" class="cart-plus-minus-box">
                            <div class="dec qtybutton">-</div>
                            <div class="inc qtybutton">+</div>
                            <span class="clearfix"></span>
                        </div>
                        <a href="cart.html" class="cart-btn"><span>Add to Bag</span></a>
                        <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class="share">
                        <h5 class="share">share this on:</h5>
                        <ul>
                            <li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="www.google-plus.com"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="product-description-tab">
                        <div class="description-tab-menu">
                            <ul class="clearfix" role="tablist">
                                <li role="presentation" class="active"><a href="#description"
                                        aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                                <li role="presentation"><a href="#specification" aria-controls="specification"
                                        role="tab" data-toggle="tab">information</a></li>
                                <li role="presentation"><a href="#review" aria-controls="review" role="tab"
                                        data-toggle="tab">Reviews</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. </p>

                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum.</p>
                                <ul>
                                    <li><i class="fa fa-circle"></i>Lorem ipsum dolor sit amet, consectetur product.
                                    </li>
                                    <li><i class="fa fa-circle"></i>Duis aute irure dolor in reprehenderit in voluptate
                                        velit esse</li>
                                    <li><i class="fa fa-circle"></i>Excepteur sinted occaecat cupidatat non proident
                                        products</li>
                                    <li><i class="fa fa-circle"></i>voluptate velit esse cillum</li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="specification">
                                <p>Veniam quasi voluptatem facere nesciunt laborum, quibusdam amet totam fugit,
                                    blanditiis doloribus alias eveniet dolore pariatur dolores aliquid!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex consectetur minima quod
                                    officiis magni, aspernatur. Ea consectetur ab in, consequatur alias, quo sit. Optio
                                    vitae cupiditate, consectetur veritatis cumque odio magnam voluptates voluptas
                                    eligendi, minima tenetur voluptatum dolor autem, doloribus expedita obcaecati.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="review">
                                <p>Similique animi consequatur pariatur voluptas tempore, dolores obcaecati dolorum quia
                                    odit harum. Quos nemo, minima totam quidem ipsum labore.</p>
                                <ul>
                                    <li> <i class="fa fa-circle"></i> Minus placeat eligendi neque doloribus sed ratione
                                        repellendus a illo similique, sint quisquam perferendis eum nam nihil dolor
                                        fugit blanditiis, explicabo, recusandae hic qui exercitationem aspernatur
                                        excepturi voluptate unde. </li>
                                    <li> <i class="fa fa-circle"></i> Quaerat magnam, perferendis, sapiente doloremque
                                        error omnis esse in saepe quos eveniet quasi ex fugit eligendi consectetur nobis
                                        amet. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm col-xs-12">
                    <div class="single-left-widget without-background">
                        <div class="section-title">
                            <h4>hot deals</h4>
                            <div class="widget-banner">
                                <a href="#"><img src="assets/img/banner/8.jpg" alt=""></a>
                                <a href="shop-full-grid.html" class="shop-now">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>