<a routerLink="#" onclick="history.back()">Back to list</a>
<div class="w-100">
    <form class="mx-auto"(ngSubmit)="onHandleEdit()" [formGroup]="">
        <div class="w-50 mx-auto">
            <div class="mb-3 ">
                <input type="text" name="name" placeholder="Name" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="number" name="price" placeholder="Price" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="text" name="origin_price" placeholder="Origin_price" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="text" name="image" placeholder="Image" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="text" name="description" placeholder="Description" class="form-control" />
            </div>
            <div class="mb-3">
                <select id="category">
                    <option value="Category" selected>Category</option>
                    <option value="1">1</option>
                    <option value="2">2</option>

                </select>

            </div>
            <div class="mb-3">
                <input type="text" name="brand" placeholder="Brand" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="text" name="quality" placeholder="Quality" class="form-control" />
            </div>
            <div class="mb-3">
                <input type="text" name="status" placeholder="Status" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary bg-block btn-lg">
                Sửa sản phẩm
            </button>
        </div>
    </form>
</div>
