<section>
  <div class="banner">
    <img
      src="https://intphcm.com/data/upload/banner-thoi-trang-nam-tinh.jpg"
      alt=""
    />
  </div>
</section>
<main>
  <h1>NEW PRODUCT</h1>
  <div class="product__card">
    <a
      *ngFor="let product of products; let i = index"
      routerLink="/product/detail/{{ product._id }}"
      class="card--link d-block"
    >
      <div class="card" *ngIf="i < 6">
        <img
          src="{{ product.image }}"
          class="card-img-top"
          alt="Hình ảnh sản phẩm"
        />
        <div class="card-body px-1">
          <h5 class="card-title fs-6 float-left">{{ product.name }}</h5>
          <p class="card-text text-danger">
            ${{ product.price }}
            <del class="text-secondary">${{ product.origin_price }}</del>
          </p>
        </div>
      </div>
    </a>
  </div>
  <p class="line"></p>
  <h1>TOP PRODUCT</h1>
  <div class="product__card">
    <a
      *ngFor="let product of products; let i = index"
      routerLink="/product/detail/{{ product._id }}"
      class="card--link d-block"
    >
      <div class="card" *ngIf="i < 6">
        <img
          src="{{ product.image }}"
          class="card-img-top"
          alt="Hình ảnh sản phẩm"
        />
        <div class="card-body px-1">
          <h5 class="card-title fs-6 float-left">{{ product.name }}</h5>
          <p class="card-text text-danger">
            ${{ product.price }}
            <del class="text-secondary">${{ product.origin_price }}</del>
          </p>
        </div>
      </div>
    </a>
  </div>
</main>
