<table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Price</th>
            <th>Origin_price</th>
            <th>Image</th>
            <th>Description</th>
            <th>Size</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Quality</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; index as i">
            <td>{{i +1}}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.origin_price }}</td>
            <td><img [src]="product.image" /></td>
            <td>{{product.description}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <button class="btn btn-danger" (click)="removeItem(product._id!)">Xóa</button></td>
            <td><a class="btn btn-primary " routerLink="{{product._id}}/edit" aria-disabled="true">Edit</a></td>
        </tr>
    </tbody>
</table>