<main>
  <h1>Product</h1>
  <form (ngSubmit)="onHandleSubmit()">
    <div class="input-group" class="w-50">
      <input type="text" class="form-control" [(ngModel)]="search.name" name="name" placeholder="Nhập từ khóa" />
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>

  <div class="product__card" *ngIf="products">
    <a *ngFor="let product of products" routerLink="detail/{{product._id}}" class="card--link d-block">
      <div class="card">
        <img src="{{product.image}}" class="card-img-top" alt="Hình ảnh sản phẩm" />
        <div class="card-body px-1">
          <h5 class="card-title fs-6 float-left">{{product.name}}</h5>
          <p class="card-text">{{product.price}}</p>
        </div>
      </div>
    </a>

  </div>
</main>