<main>
  <h1>Product</h1>
  <div class="product__card" *ngIf="products">
    <a *ngFor="let product of products" routerLink="detail/{{product._id}}" class="card--link d-block">
      <div class="card">
        <img src="{{product.image}}" class="card-img-top" alt="Hình ảnh sản phẩm" />
        <div class="card-body px-1">
          <h5 class="card-title fs-6 float-left">{{product.name}}</h5>
          <p class="card-text">{{product.price}}</p>
        </div>
      </div>
    </a>

  </div>
</main>
