<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a><span> - </span></li>
                    <li><a href="shop.html">category</a><span> - </span></li>
                    <li class="active">full grid</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="shop-fullgrid-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop-item-filter">
                    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                        <div class="shop-tab clearfix">
                            <!-- Nav tabs -->
                            <ul role="tablist">
                                <li role="presentation" class="active"><a class="grid-view"
                                        href="shop-full-grid.html"><i class="fa fa-th"></i></a></li>
                                <li role="presentation"><a href="shop-grid-left-sidebar.html"><i
                                            class="fa fa-th-list"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4 hidden-xs">
                        <div class="filter-by text-center">
                            <h4>Short by: </h4>
                            <form action="#">
                                <div class="select-filter">
                                    <select>
                                        <option value="color">Position</option>
                                        <option value="name">Name</option>
                                        <option value="brand">Brand</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                        <div class="filter-by right">
                            <h4>Show: </h4>
                            <form action="#">
                                <div class="select-filter">
                                    <select>
                                        <option value="10">12</option>
                                        <option value="20">16</option>
                                        <option value="30">20</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/10.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/8.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/7.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/13.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/9.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/11.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/13.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/6.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm col-xs-12">
                <div class="single-product">
                    <div class="single-product-item">
                        <div class="single-product-img clearfix hover-effect">
                            <a href="#">
                                <img class="primary-image" src="assets/img/product/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="single-product-info clearfix">
                            <div class="pro-price">
                                <span class="new-price">$25.99</span>
                            </div>
                            <div class="new-sale">
                                <span>new</span>
                            </div>
                        </div>
                        <div class="product-content text-center">
                            <h3>Full sleev women shirt</h3>
                            <h4><a href="#">view details</a></h4>
                        </div>
                        <div class="product-action">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="Compage"><i class="fa fa-refresh"></i></a>
                                </li>
                                <li class="add-bag"><a href="#" data-toggle="tooltip" title="Shopping Cart">Add to
                                        Bag</a></li>
                                <li><a href="#" data-toggle="tooltip" title="Like it!"><i class="fa fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="shop-item-filter bottom">
                    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                        <div class="shop-tab clearfix">
                            <!-- Nav tabs -->
                            <ul role="tablist">
                                <li role="presentation" class="active"><a class="grid-view"
                                        href="shop-full-grid.html"><i class="fa fa-th"></i></a></li>
                                <li role="presentation"><a href="shop-grid-left-sidebar.html"><i
                                            class="fa fa-th-list"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4 hidden-xs">
                        <div class="filter-by text-center">
                            <h4>Short by: </h4>
                            <form action="#">
                                <div class="select-filter">
                                    <select>
                                        <option value="color">Position</option>
                                        <option value="name">Name</option>
                                        <option value="brand">Brand</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                        <div class="filter-by right">
                            <h4>Show: </h4>
                            <form action="#">
                                <div class="select-filter">
                                    <select>
                                        <option value="10">12</option>
                                        <option value="20">16</option>
                                        <option value="30">20</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest blog end -->
<!-- client start -->