<a routerLink="add">ADD Category</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categorys;index as i">
            <td>{{i+1}}</td>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>
                <button class="btn btn-danger" (click)="onHandleRemoveCategory(category._id)">
                    Xóa
                </button>
                <button class="btn btn-warning" routerLink="{{ category._id }}/edit">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
</table>