<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a><span> - </span></li>
                    <li class="active">about us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="about-us-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-us-text">
                    <div class="section-heading">
                        <h3>about us</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat enim ad minim veniam, quis nostrud exercita.</p>

                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-us-img">
                    <img src="assets/img/about/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About end -->
<!-- team start -->