<!-- header start -->
<header class="header-area">
  <div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 hidden-xs">
          <div class="header-top-left">
            <div class="language-usd">
              <ul>
                <li>
                  <a href="#">eng</a>
                  <ul class="submenu-mainmenu">
                    <li><a href="#">Bengali</a></li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Spanish</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">usd</a>
                  <ul class="submenu-mainmenu">
                    <li><a href="#">usd</a></li>
                    <li><a href="#">uero</a></li>
                    <li><a href="#">taka</a></li>
                    <li><a href="#">pound</a></li>
                    <li><a href="#">rupi</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="header-top-right">
            <div class="account-cart">
              <ul>
                <li class="login">
                  <a routerLink="/signup">login</a>
                </li>
                <li class="cart">
                  <a routerLink="cart"><img src="assets/img/icon/cart.png" alt="cart" />
                    <p>Tbao số lượng</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-header-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="logo">
            <a href="index.html"><img src="../../assets/img/logo/logo.png" alt="SHOPPPIE" /></a>
          </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-6">
          <div class="mainmenu">
            <nav>
              <ul>
                <li>
                  <a href="">Home</a>
                </li>
                <li>
                  <a routerLink="product">Product</a>
                </li>

                <li>
                  <a href="about">About</a>

                </li>
                <li><a routerLink="contact">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-6 col-xs-12">
          <div class="search-box">
            <form action="#">
              <input type="text" placeholder="Search" />
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu Area start -->
  <div class="mobile-menu-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="mobile-menu">
            <nav id="dropdown">
              <ul>
                <li>
                  <a href="index.html">HOME</a>
                  <ul>
                    <li><a href="index.html">Home Version 1</a></li>
                    <li><a href="index-2.html">Home Version 2</a></li>
                  </ul>
                </li>
                <li><a href="shop-full-grid.html">Women</a></li>
                <li><a href="shop-full-grid.html">Accessories</a></li>
                <li>
                  <a href="blog-full-view.html">Blog</a>
                  <ul>
                    <li><a href="blog-full-view.html">Blog Full View</a></li>
                    <li>
                      <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                    </li>
                    <li>
                      <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                    </li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li>
                  <a href="shop-full-grid.html">Shop</a>
                  <ul>
                    <li>
                      <a href="shop-grid-left-sidebar.html">Shop Grid Left Sidebar</a>
                    </li>
                    <li>
                      <a href="shop-grid-right-sidebar.html">Shop Grid Right Sidebar</a>
                    </li>
                    <li>
                      <a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                    </li>
                    <li>
                      <a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                    </li>
                    <li><a href="shop-full-grid.html">Shop None Sidebar</a></li>
                    <li>
                      <a href="product-details-fullwidth.html">Product Details Fullwidth</a>
                    </li>
                    <li>
                      <a href="product-details-left-sidebar.html">Product Details Left Sidebar</a>
                    </li>
                    <li>
                      <a href="product-details-right-sidebar.html">Product Details Right Sidebar</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="about-us.html">Pages</a>
                  <ul>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu Area end -->
</header>
<!-- header end -->
<router-outlet />
<!-- client start -->
<!-- client end -->
<!-- footer start -->
<footer class="footer-area">
  <div class="footer-middle-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
          <div class="footer-widget">
            <div class="footer-logo">
              <img src="assets/img/logo/footer-logo.png" alt="" />
            </div>
            <div class="footer-address">
              <p>
                28 Green Tower, Street Name New<br />
                York City, USA
              </p>

              <p>
                TELEPHONE- +88017 222 333<br />
                Email- admin@DevItems.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-3 col-xs-12">
          <div class="footer-widget">
            <h5>Services</h5>
            <ul>
              <li><a href="about.html">About us</a></li>
              <li><a href="about.html">Return Policy</a></li>
              <li><a href="blog.html">Our Blog</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li class="hidden-sm"><a href="#">Terms &amp; Condition</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-2 hidden-sm col-xs-12">
          <div class="footer-widget">
            <h5>Account</h5>
            <ul>
              <li><a href="#">Your Account</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="footer-widget">
            <h5>Get Social</h5>
            <p>
              Connected with our social media and<br />
              get update protidin
            </p>
            <ul class="social-icon">
              <li>
                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="www.google-plus.com"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
              </li>
              <li class="hidden-sm">
                <a href="www.pinterest.com"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="copyright">
            <p>
              2016 ® All Rights Reserved
              <span><a href="http://devitems.com/">DevItems</a></span>.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="payment text-right">
            <img src="assets/img/payment/1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->